<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.pnoto_manage.user.userDao.UserDao">
    <select id="selectUser" resultType="com.gk.pnoto_manage.domain.User">
        select * from user where user_name=#{username}
    </select>
</mapper>